@import '@radix-ui/themes/styles.css';

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.login-button .login-button-arrow {
  transition: transform 0.2s ease-in-out;
}

.login-button:hover .login-button-arrow {
  transform: translateX(4px);
}
